
@{
    ViewBag.Title = "Principal";
    ViewBag.Tipousuario = ViewBag.TipoUsuario;
    Layout = "~/Views/Shared/_LayaoutGeneral.cshtml";
}

<div class="text-center">
    <h2>Pagina principal</h2>
</div>

