* {
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/

}
.tabla-encabezado{
    margin-bottom: 0;
    text-align: center;
}

label.error {
    color: red;
}

input.error, textarea.error {
    border: 1px solid red;
}

input.valid, textarea.valid {
    border: 2px solid green;
}

select.valid {
    border: 2px solid green;
}

select.error{
    border: 1px solid red;
}

th {
    /*    display: flex;
    justify-content: center;
    align-content: center;*/
    text-align: center;
}
