
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_LayaoutGeneral.cshtml";
}

<!-- Espacio donde se agregan los estilos personalizados -->
@section Estilos{
    <link href="~/Content/Clientes/Pasos.css" rel="stylesheet" />
    <link href="~/Content/Clientes/Clientes.css" rel="stylesheet" />
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
}
<input type="text" value="@ViewBag.TipoUsuario" id="TipoUsuario" hidden />

<h2 class="">Clientes</h2>
<div class="form-group">
    <label>Buscar cliente</label>
    <input type="text" name="Nombre" id="Buscador" />
    <a class="btn btn-danger" id="BtnCancelarFiltro" title="Cancelar busqueda"><i class="bi bi-x-circle"></i></a>
    @*<a href="~/Adicciones/NuevaAdiccion" class="btn btn-success" title="Nueva adiccion"><i class="bi bi-plus-circle"></i> Nueva Adiccion</a>*@
    @{
        if (ViewBag.TipoUsuario == "Colaborador")
        {
            <a id="BtnExpandir" class="btn btn-success" title="Nuevo cliente"><i class="bi bi-plus-circle"></i> Nuevo cliente</a>
        }
    }
</div>

<!-- FORMULARIOS -->
<div id="Formulario" hidden>
    <div class="Body">

        <div class="form">
            <h1 class="">Registro de clientes</h1>
            <!-- Barras de progreso -->
            <div class="barras-progreso">
                <div class="progreso" id="progreso"></div>
                <div class="progreso-paso progreso-paso-activo" data-title="Información personal"></div>
                <div class="progreso-paso" data-title="Dirección"></div>
                <div class="progreso-paso" data-title="Otros"></div>
                <div class="progreso-paso" data-title="Cuenta"></div>
                <!-- <div class="progreso-paso" data-title="Contacto"></div> -->
            </div>
            <!-- Paso 1 -->
            <form method="post" id="Form-Paso1">
                <div class="form-paso form-paso-activo Paso1">

                    <div class="form-group">
                        <label>Cédula</label>
                        <input  name="Cedula" id="Cedula" class="form-control" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "9"/>
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" name="Nombre" id="Nombre" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Primer apellido</label>
                        <input type="text" name="PrimerApellido" id="PrimerApellido" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Segundo apellido</label>
                        <input type="text" name="SegundoApellido" id="SegundoApellido" class="form-control" />
                    </div>
                    <div class="">
                        <a class="btnp btn-primary btn-next-P1 width-50 ml-auto" id="btn-Paso1"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </form>

            <form method="post" id="Form-Paso2">
                <!-- Paso 2 -->
                <div class="form-paso">
                    <div class="form-group">
                        <label>Provincia</label>
                        <select name="Provincia" id="Provincia" class="form-control">
                            @*<option value="">Seleccione una provincia</option>*@
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Cantón</label>
                        <select name="Canton" id="Canton" class="form-control">
                            <option value="">Seleccione un cantón</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Distrito</label>
                        <select name="Distrito" id="Distrito" class="form-control">
                            <option value="">Seleccione un distrito</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Dirección física</label>
                        <input type="text" name="Direccion" id="Direccion" class="form-control" />
                    </div>
                    <div class="bnts-group">
                        <a class="btnp btn-prev"><i class="bi bi-arrow-left"></i></a>
                        <a class="btnp btn-next" id="btn-Paso2"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </form>
            <form method="post" id="Form-Paso3">
                <!-- Paso 3 -->
                <div class="form-paso">
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="number" name="Telefono" id="Telefono" class="form-control" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength = "8"/>
                    </div>
                    <div class="form-group">
                        <label>Correo electrónico</label>
                        <input type="email" name="Correo" id="Correo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Fecha de nacimiento</label>
                        <input type="text" name="FechaNacimiento" id="FechaNacimiento" class="form-control" readonly/>
                    </div>
                    <div id="grupoRadioButtonsSexo">
                        <input type="radio" id="rbSexo1" name="rbSexo" value="M" />
                        <label for="rbSexo1" id="rbSexo-1">Masculino</label>
                        <input type="radio" id="rbSexo2" name="rbSexo" value="F" />
                        <label for="rbSexo2" id="rbSexo-2">Femenino</label>
                    </div>
                    <br />
                    <br />
                    <div class="bnts-group">
                        <a class="btnp btn-prev"><i class="bi bi-arrow-left"></i></a>
                        <a class="btnp btn-next" id="btn-Paso3"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </form>
            <form method="post" id="Form-Paso4">
                <!-- Paso 4 -->
                <div class="form-paso">
                    <div id="grupoRadioButtonsTipoUsuario">
                        <input type="radio" id="rbTipo1" name="rbTipo" value="Colaborador" />
                        <label for="rbTipo1" id="rbTipo-1">Colaborador</label>
                        <input type="radio" id="rbTipo2" name="rbTipo" value="Cliente" />
                        <label for="rbTipo2" id="rbTipo-2">Cliente</label>
                    </div>
                    <br />
                    <br />
                    <div class="bnts-group">
                        <a class="btnp btn-prev"><i class="bi bi-arrow-left"></i></a>
                        <input type="button" class="btnp btn-next" id="Guardar" value="Guardar" />
                        <input type="button" class="btn btn-warning" id="btnModificar" value="Modificar" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="divDialog" hidden>
    <p>Espere mientras se envia el correo electronico</p>
    <div class="CuerpoSpinner">
        <div class="loader"></div>
    </div>
</div>
<div id="Tabla">
    <table class="table" id="Plantilla">
        <tr>
            <th>Cédula</th>
            <th>Nombre completo</th>
            <th>Género</th>
            <th>Dirección</th>
            <th>Dirección física</th>
            <th>Fecha de nacimiento</th>
            <th>Correo</th>
            @{
                if (ViewBag.TipoUsuario == "Colaborador")
                {
                    <th colspan="2">Acciones</th>
                }
            }


        </tr>
        <tbody id="CuerpoTabla">
        </tbody>
    </table>
</div>
<!-- Espacio donde se agregan los scripts personalizados -->
@section Scripts{
    @*<script src="~/Scripts/Clientes/PruebaValidacion.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="~/Scripts/Clientes/Clientes.js" type="module"></script>
}